<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>

<style>table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif,serif;
  font-size: 14px;
  background: white;
  max-width: 70%;
  width: 70%;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
td {
  color: #669;
  padding: 9px 8px;
  transition: .3s linear;
}
tr:hover td {
  color: #6699ff;
}</style>

<br/>
<br/>
<table class="table_blur">
  <tr>
    <th colspan="5" text-align="center">Пользователи</th>
  </tr>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Last name</th>
    <th>Gender</th>
    <th>Email</th>
  </tr>

  <tr th:each="user : ${users}">
    <td><a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getId()}">user</a></td>
    <td><a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getFirstName()}">user</a></td>
    <td><a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getLastName()}">user</a></td>
    <td><a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getGenderDisplayName()}">user</a></td>
    <td><a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getEmail()}">user</a></td>
    <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}">edit</a></td>
  </tr>
</table>

<br/>
<table>
  </tr>
  <td>
    <form action="/users/new">
      <button type="submit">Add new User</button>
    </form>
  </td>

  <td>
    <form action="/users">
      <button type="submit">Show All Users</button>
    </form>
  </td>
  </tr>
</table>
</body>
</html>
